@model BuildStudio.Data.Model.AcceptanceCriteria

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acceptance criteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requirement.Name)
        </dd>
    </dl>
    <hr />
    @if (Model.Conditions.Any())
    {
        @await Html.PartialAsync("PartialConditions", Model)
    }
</div>
<div>
    <a asp-controller="Conditions" asp-action="Create" asp-route-id="@Model.Id">Add condition</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Requirements" asp-action="Details" asp-route-id="@Model.RequirementId">Back to the requirement</a>
</div>
