@model BuildStudio.Data.Model.ExpectedResult

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expected result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition.Name)
        </dd>
    </dl>
    <hr />
    @if (Model.Results.Any())
    {
        @await Html.PartialAsync("PartialResults", Model)
    }
</div>
<div>
    <a asp-controller="Results" asp-action="Create" asp-route-id="@Model.Id">Add result</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Conditions" asp-action="Details" asp-route-id="@Model.ConditionId">Back to the condition</a>
</div>
