@model BuildStudio.Data.Model.Condition

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Condition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceCriteria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcceptanceCriteria.Name)
        </dd>
    </dl>
    <hr />
    @if(Model.ExpectedResults.Any())
    {
        @await Html.PartialAsync("PartialExpectedResults")
    }
</div>
<div>
    <a asp-controller="ExpectedResults" asp-action="Create" asp-route-id="@Model.Id">Add expected result</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="AcceptanceCriterias" asp-action="Details" asp-route-id="@Model.AcceptanceCriteriaId">Back to the acceptance criteria</a>
</div>
